.github
.vscode
.scannerwork
.husky
.eslintrc.json

node_modules
deployment
coverage
**/__mocks__
**/__tests__

npm-debug.log
README.md
.env.example
sonar-project.properties
sonar.js
test-report.xml
.prettierrc
.vscode